<footer class="bg-emerald-900 text-white mt-12">

    <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-3 gap-8">

        <!-- Brand -->
        <div>
            <h3 class="text-xl font-semibold">
                DiaStagePredict
            </h3>
            <p class="text-emerald-300 mt-1">
                Diabetes Risk Predictor
            </p>

            <hr class="border-emerald-700 my-3">

            <div class="flex flex-col space-y-2 text-sm">
                <a href="/" class="hover:text-emerald-300">Home</a>
                <a href="/about" class="hover:text-emerald-300">About</a>
                <a href="/model" class="hover:text-emerald-300">Models</a>
                <a href="/result" class="hover:text-emerald-300">Results</a>
                <a href="/login" class="hover:text-emerald-300">Login</a>
            </div>
        </div>

        <!-- Useful -->
        <div>
            <h3 class="text-xl font-semibold">
                Useful Links
            </h3>

            <hr class="border-emerald-700 my-3">

            <div class="flex flex-col space-y-2 text-sm">
                <a href="/#" class="hover:text-emerald-300">Learn about diabetes</a>
                <a href="/predict" class="hover:text-emerald-300">Start Prediction</a>
            </div>
        </div>

        <!-- Mission -->
        <div>
            <h3 class="text-xl font-semibold">
                Our Mission
            </h3>

            <hr class="border-emerald-700 my-3">

            <p class="text-sm text-emerald-200 leading-relaxed">
                DiaStagePredict aims to support early awareness of diabetes risk using AI-driven insights — helping
                individuals
                take informed steps toward healthier living.
            </p>
        </div>

    </div>

    <!-- Bottom bar -->
    <div class="bg-emerald-950 py  -4">
        <p class="text-center text-sm text-emerald-300 py-3">
            DiaStagePredict AI &copy;2026 — All Rights Reserved
        </p>
    </div>

</footer>
